<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="false">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>

            <div class="navbar-header hidden-xs">
                <a id="nav-brand" class="navbar-brand" href="#/">Luke photograph</a>
            </div>

            <div class="navbar-header visible-xs">
                <a href="#/"><img id="nav-brand-pic" class="navbar-brand" src="img/logo.png" alt="brand"></a>
            </div>

        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-menu">

      <ul class="nav navbar-nav navbar-right text-center hidden-xs">
            <li><a href="#/">About me</a></li>
            <li><a href="#/gallery">Gallery</a></li>  
            <li><a href="#/contact">Contact</a></li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right text-center visible-xs">
            <li><a href="#/" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="true">About me</a></li> 

            <li><a href="#/gallery" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="true">Gallery</a></li>  

            <li><a href="#/contact" data-toggle="collapse" data-target="#collapse-menu" aria-expanded="true">Contact</a></li>
        
      </ul>
      
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>