<div id="aboutdiv" class="container">
	<div class="row">
		<div class="col-sm-6">
			<img id="profilepicture" src="img/contactpic.jpg" class="
			img-responsive img-rounded">
		</div>
	
	
		
		<div class="col-sm-5 col-sm-offset-1 text-center">
			<p id="aboutmepara">
				My name is Lucas, I'm a brazilian designer based in Sao Paulo. Passionate about image and specialized in design and photography, I've been working as a designer and photograph for 4 years.
			</p>
		</div>

		<div class="col-md-5 col-md-offset-1 hidden-sm hidden-xs text-center">
			<h2 style="font-family: 'Architects Daughter', cursive; color: #E33B3B">"Great moments deserve great pictures!"</h2>
		</div>
		<div class="col-sm-12 hidden-md hidden-lg text-center">
			<h2 style="font-family: 'Architects Daughter', cursive; color: #E33B3B">"Great moments deserve great pictures!"</h2>
		</div>
		
	</div>
	
</div>